/*
#Florence-1 {
  background: linear-gradient(90deg,
  rgb(10, 27, 8) 0%, 38%,
  rgb(65, 141, 77) 75%);
}

#Florence-2 {
  background: linear-gradient(90deg,
    rgb(65, 141, 77) 0%, 40%,
    rgb(109, 162, 118) 60%, 92%,
    rgb(140, 214, 163) 120%);
}

#Florence-3 {
  background: linear-gradient(90deg,
    rgb(126, 196, 142) 0, 10%,
    rgb(140, 214, 163) 20%, 55%,
    rgb(239, 243, 220) 90%);
}

#Florence-4 {
  background: linear-gradient(90deg,
    rgb(239, 243, 220) 0%, 5%,
    rgb(253, 254, 255) 25%, 50%,
    rgb(255, 255, 255) 70%, 90%,
    rgb(231, 231, 237) 100%);
}
#Florence-5 {
  background: linear-gradient(90deg,
    rgb(231, 231, 237) 0%, 20%,
    rgb(197, 196, 204) 30%, 55%,
    rgb(150, 153, 162) 67.3352%, 75%,
    rgb(149 144 169)
    );
}

#Florence-6 {
  background: linear-gradient(90deg,
    rgb(149 144 169) 5%, 10%,
    rgb(245, 198, 188) 15%,
    rgb(245, 198, 188) 20%,
    rgb(217, 167, 158) 38%,
    rgb(216, 125, 120) 63%,
    rgb(80, 35, 30) 90%,
    rgb(42, 14, 11) 100%);
}
*/


#container-florence {
  background: linear-gradient(90deg,
      rgb(10, 27, 8) 0%, 5.87393%,
      rgb(65, 141, 77) 11.7479%, 16.8736%,
      rgb(109, 162, 118) 21.7049%, 25.5731%,
      rgb(140, 214, 163) 29.4413%, 33.2736%,
      rgb(239, 243, 220) 37.106%, 40.9384%,
      rgb(253, 254, 255) 44.7708%, 49.0688%,
      rgb(255, 255, 255) 53.3668%, 57.808%,
      rgb(197, 196, 204) 62.2493%, 64.7923%,
      rgb(150, 153, 162) 67.3352%, 70.4513%,
      rgb(149 144 169) 73.5673%, 77.8158%,
      rgb(245, 198, 188) 81.1605%, 83.596%,
      rgb(217, 167, 158) 86.0315%, 89.0401%,
      rgb(216, 125, 120) 92.0487%, 95.2364%,
      rgb(80, 35, 30) 98.4241%, 99.212%,
      rgb(42, 14, 11) 100%);
}

#container-rome {
  background: linear-gradient(90deg, white, gray, black);
}


#container-torino {
  background-color: red; /* For browsers that do not support gradients */
  background-image:
  linear-gradient(to right,
  /* Greens 1 */
  rgb(9,23,6) ,
  rgb(22,44,21) ,
  rgb(37,63,36) ,
  rgb(48,88,53) ,
  rgb(67,116,71) ,

   /* Greens 2 */
  /*rgb(155,190,160)*/ 12%,
  rgb(110,136,111) ,
  rgb(79,101,80) ,
  rgb(54,71,55) ,
  rgb(26,42,32) ,

   /* Whites 33% */
  rgb(53,62,61) ,
  rgb(103,113,114) ,
  rgb(145,156,160) ,
  rgb(188,203,210) ,
  rgb(239,247,249) ,

   /* Blues */
  rgb(172,185,217) 78%,
  rgb(128,142,169) ,
  rgb(91,102,120) ,
  /*rgb(58,60,75) ,
  /*rgb(30,19,36) ,

    /* Peaches 80% */
  /*rgb(59,45,44)*/ 83%,
  rgb(99,81,77) ,
  rgb(141,116,111) ,
  rgb(184,156,145) ,
  rgb(196,162,154) ,

    /* Reds */
  /*rgb(197,126,108) */96%,
  rgb(132,82,71) ,
  rgb(85,53,42)

  /*
  rgb(54,29,22),
  rgb(35,10,7)
*/
  );
}
/*
.section {
  border: 0px solid black;
}
*/


#container-palermo {
  background-color: red; /* For browsers that do not support gradients */
  background-image:
  linear-gradient(to right,
  /* Greens 1 */
  rgb(75,91,54) ,
  rgb(111,125,72) ,
  rgb(135,150,93) ,
  rgb(155,170,115) ,
  /*
  rgb(185,211,140) ,
*/

   /* Greens 2 */
  rgb(103,147,70) 9%,
  rgb(87,118,48) ,
  rgb(68,97,30) ,
  rgb(47,74,23) ,

   /* */
  rgb(85,104,82) 18%,
  rgb(135,146,114) ,
  rgb(166,178,140) ,
  rgb(193,207,171) ,
  /*
  rgb(228,246,204) ,
*/
   /*  */
  /*rgb(242,251,232) 27%,
  rgb(213,217,200) ,*/

  rgb(182,191,174) ,
  rgb(213,217,200) ,
  /*
  rgb(242,251,232) ,
*/
    /* Blues 80% */
  rgb(248,250,249) 50%,
  rgb(216,220,223) ,
  rgb(181,186,192) ,
  rgb(140,154,155)
  );
}

#container-bologna {
  background-image:
  linear-gradient(
  90deg
  , rgb(116, 114, 99) 0%, 3.28084%, rgb(237, 229, 208) 7.67717%, 11.2205%, rgb(241, 246, 249) 14.5669%, 17.9134%, rgb(189, 196, 206) 21.2598%, 23.9829%, rgb(117, 132, 122) 26.706%, 29.8228%,
  rgb(97, 124, 89) 32.9396%, 37.6969%, rgb(129, 151, 115) 42.4541%, 44.857%, rgb(126, 132, 160) 49.0157%, 53.3143%, rgb(163, 168, 208) 56.5617%, 61.6999%, rgb(176, 159, 191) 63.9764%, 67.4892%,
  rgb(182, 140, 144) 71.6535%, 75.241%, rgb(221, 177, 178) 79.9213%, 82.9773%, rgb(227, 128, 122) 86.3517%, 91.0426%, rgb(155, 95, 94) 94.2257%, 97.1129%, rgb(64, 37, 30) 100%);
}

#container-milan {
    background-image:
    linear-gradient(90deg, white, grey, black);
  }
