:root {
  --main-stroke-width: 2px;
  --main-card-width: 120px;
  --main-card-height: 160px;
}

html {
  margin-left: 16%;
  margin-right: 16%;
  margin-top: 2%;
  background: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

h1, h2 {
  font-family: 'Domine', serif;
  font-weight: bold;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0px;
  /*
  background: linear-gradient(90deg, rgba(255, 155, 33, 1) 0%, rgba(118, 63, 140, 1) 40%, rgba(0, 0, 207, 1) 60%, rgba(255, 200, 255, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s;animation-name: header;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in; */
}

/*
@keyframes header {
  from {background: linear-gradient( 90deg, rgb(10, 27, 8) 0%, 5.87393%, rgb(65, 141, 77) 11.7479%, 16.8736%, rgb(109, 162, 118) 21.7049%, 25.5731%, rgb(140, 214, 163) 29.4413%, 33.2736%, rgb(239, 243, 220) 37.106%, 40.9384%, rgb(253, 254, 255) 44.7708%, 49.0688%, rgb(255, 255, 255) 53.3668%, 57.808%, rgb(197, 196, 204) 62.2493%, 64.7923%, rgb(150, 153, 162) 67.3352%, 70.4513%, rgb(149 144 169) 73.5673%, 77.8158%, rgb(245, 198, 188) 81.1605%, 83.596%, rgb(217, 167, 158) 86.0315%, 89.0401%, rgb(216, 125, 120) 92.0487%, 95.2364%, rgb(80, 35, 30) 98.4241%, 99.212%, rgb(42, 14, 11) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
  to {background-image: linear-gradient( 90deg
 , rgb(116, 114, 99) 0%, 3.28084%, rgb(237, 229, 208) 7.67717%, 11.2205%, rgb(241, 246, 249) 14.5669%, 17.9134%, rgb(189, 196, 206) 21.2598%, 23.9829%, rgb(117, 132, 122) 26.706%, 29.8228%, rgb(97, 124, 89) 32.9396%, 37.6969%, rgb(129, 151, 115) 42.4541%, 44.857%, rgb(126, 132, 160) 49.0157%, 53.3143%, rgb(163, 168, 208) 56.5617%, 61.6999%, rgb(176, 159, 191) 63.9764%, 67.4892%, rgb(182, 140, 144) 71.6535%, 75.241%, rgb(221, 177, 178) 79.9213%, 82.9773%, rgb(227, 128, 122) 86.3517%, 91.0426%, rgb(155, 95, 94) 94.2257%, 97.1129%, rgb(64, 37, 30) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
}
*/
h2 {
  margin-top: 0px;
}

/* Story sections */
#cover {
  height: 160px;
}

#dna {
  margin-bottom: 80px;
}

#dna p {
    margin-bottom: 6px;
    font-size: 18px;
}

#palettes {
  margin-bottom: 80px;
}

#palettes p {
    margin-bottom: 6px;
    font-size: 18px;
}


#scale {
  height: 30px;
  border: 2px solid black;
}

.story {
  width: 200px;
}
/* Wrapper for each city - city name + DNA gradient */
.wrapper {
  display: flex;
  width: 100%;
}

/* Container for the city name */
.city-name {
  width: 40px;
  margin-right: 58px;
}

.city-name p {
  margin-top: 10px;
}

/* Container for the DNA gradient */
.container {
  display: inline-flex;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  filter: saturate(2.5);
  cursor: pointer;
}

/* Container for the DNA section */
.section {
  /*border: solid black;
  border-width: 0;*/
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

/* Highlighting the section container upon mouseover */
.section:hover {
  /*transform: scaleY(1.25);*/
  /*border-width: thick!important;*/
  box-shadow: inset 0px 0px 0px var(--main-stroke-width) black;
  box-sizing: border-box;
}

.section-selected {
  /*transform: scaleY(1.25);*/
  /*border-width: thick!important;*/
  box-shadow: inset 0px 0px 0px var(--main-stroke-width) white;
  box-sizing: border-box;
}

/* Highlighting the section container upon click */
.category-selected {
  /*transform: scaleY(1.25);*/
  /*border-width: thick!important;*/
  box-shadow: inset 0px 0px 0px var(--main-stroke-width) black;
  box-sizing: border-box;
}

/* Tooltip with additional information -
displayed once the user hover over the DNA section */
div.tooltip {
  position: absolute;
  text-align: center;
  padding: 16px 16px;
  font-size: 12px !important;
  background: white;
  border: 1px solid grey;
  border-radius: 1px;
  pointer-events: none;
  box-shadow: 0px 0px 6px #00000029;
  z-index: 100;
}

.tooltip img {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  filter: saturate(1.5);
}

/* Labels with land cover categories */
#label-container {
  /*border: 1px solid grey;*/
  margin-bottom: 24px;
  padding-top: 6px;
}

input {
  display: none;
  width: 0;
  height: 0;
}

.label {
  display: inline-block;
  margin-bottom: 12px;
  margin-top: 6px;
  margin-right: 6px;
}

span {
  border: 1px solid;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 24px;
  transition: 0.5s;
}

span:hover {
  cursor: pointer;
  background-color: black;
  border-color: black;
  color: white;
}

/* Specific colors for each land cover category */
/*
#label-farmland input[type=checkbox]:checked+span {
  background-color: #f5f5cb;
  border-color: black;
}
*/
input[type=checkbox]:checked+span {
  background-color: black;
  border-color: black;
  color: white;
}

/*
#farmland {
  border-color: #dcdc8d;
}

#farmland:hover {
  background-color: #f5f5cb;
  border-color: black;
}

*/
/*
input[type=checkbox]:not(:checked)+span {
  background-color: white;
}
*/
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-thumb {
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

/* Table for swatches */
td {
  width: calc(100% / 7);
  height: 120px;
  border: 2px solid black;
  transition: 0.5s;
}

td:hover {
  background: red;
}

.swatches-container {
  /*display: grid;*/
  grid-auto-rows: var(--main-card-height);
  grid-template-columns: repeat(auto-fill, var(--main-card-width));
  grid-gap: 8px;
}

.swatch-row {
  display: flex;
  flex-direction: row;
  grid-gap: 8px;
  margin-bottom: 16px;
}

.swatch {
  border: 1px solid lightgrey;
  width: var(--main-card-width);
  height: var(--main-card-height);
  font-size: 16px;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px #00000029;
  display: flex;
  flex-direction: column;
  background-blend-mode: luminosity;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  cursor: pointer;
  filter: saturate(1.5);
}

.swatch-category {
  width: 40px;
  margin-right: 50px;
  margin-top: 60px;
}

.caption {
  margin-top: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  background: white;
  text-align: center;
}
