body {
  /*background-image: url('grunge_patterns.jpg');
	background-attachment: fixed;*/
  color: white;
  font-family: 'Roboto', sans-serif;
}

.box {
  border-radius: 3px;
  background: rgba(255, 255, 255, 1);
  border: 2px black solid;
  margin: auto;
  padding: 12px;
  font-family: 'Roboto', sans-serif;
}

.lightbox {
  zoom: 1.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: whitek;
  text-align: center;
  margin: auto;
}

div.horizontal {
  display: flex;
  justify-content: center;
  height: 100%;
}

div.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

::-webkit-input-placeholder {
  color: black;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

::-moz-placeholder {
  color: #955;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

:-ms-input-placeholder {
  color: #955;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.button {
  font-family: 'Roboto', sans-serif;
}

#loginbutton {
  border: 1.5px solid black;
  border-radius: 3px;
  background-color: black;
  color: white;
}
