html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat';
  background-image: url(slavic_pattern.svg);
  background-repeat: repeat-x;
  background-size: auto 100vh;
  background-color: #616161;
}

/* Typography*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

p {
  font-weight: lighter;
}

/* CSS Horizontal Scroll Transformations */
.wrapper {
  display: flex;
  flex-direction: row;
  width: 380vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

/* Slides layout */
.slide {
  width: 100vw;
  height: 100vh;
  box-shadow: 0px 0px 0px 2px black inset;
  display: flex;
}

.break {
  width: 100px;
  height: 100vh;
}

.col-1 {
  width: 100%;
  vertical-align: middle;
  text-align: left;
}

.col-2 {
  width: 50%;
  vertical-align: middle;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

a, a:visited {
  text-decoration: none;
  color: white;
  transition: 1s;
}

#intro a:hover {
  box-shadow: 0 -8px 0 #0000ff inset;
  -webkit-box-shadow: 0 -8px 0 #0000ff inset;
}

/* Slides content */
#intro {
  color: white;
  width: 600px;
  display: block;
  padding-left: 80px;
  box-shadow: 0px 0px 0px 0px black inset;
}

#image-sorter {
  background-color: white;
}

#network {
  background-color: white;
  width: 1050px;
}

#question {
  background: black;
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: 0.9;
}

#network p {
  color: black;
  position: absolute;
  margin-left: 40px;
  margin-top: 80px;
}

#network-title {
  color: black;
  position: absolute;
  margin-left: 40px;
}

#composite-images {
  background: black;
  color: white;
  width: 1050px;
  padding-left: 20px;
  padding-right: 20px;
}

#reverse-search {
  background: white;
  width: 110vw;
}

/* IMAGE NETWORK SLIDE */
#wood, #animals, #nature, #goddess, #patterns, #god, #rites, #women, #men, #couple, #balvan, #triglav, #housing {
  opacity: 0.25;
  transition: 0.5s;
}

#wood:hover, #animals:hover, #nature:hover, #goddess:hover, #patterns:hover, #god:hover, #rites:hover, #women:hover, #men:hover, #couple:hover, #balvan:hover, #triglav:hover, #housing:hover {
  opacity: 1;
  transform: scale(1.05);
  transform-origin: center;
  z-index: 100;
}

/* Buttons */
.button {
  cursor: pointer;
  background: white;
  border: 2px solid black;
  color: black;
  padding: 10px 30px;
  font-size: 16px;
  font-family: "Lato";
  text-decoration: none;
  transition: 0.5s;
  font-weight: bold;
}

.button:hover {
  background: black;
  color: white;
}

.floating-btn {
  background-color: white;
  height: 30px;
  line-height: 30px;
  /*z-index: 10;*/
  position: fixed;
  bottom: 40px;
  right: 40px;
  padding: 2px 10px 2px 10px;
  border-radius: 5%;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  border: 2px solid black;
  box-shadow: 3px 3px 5px 0px rgb(16 16 16);
  transition: 0.5s;
}

.floating-btn a {
  text-decoration: none;
  color: black;
}

/* Navigation */
.navbar {
  position: fixed;
  background: white;
  z-index: 10;
  width: 40px;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0px 0px 0px 2px black inset;
  user-select: none;
  overflow-x: hidden;
}

.nav-burger {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 12vh;
  box-shadow: 0px 0px 0px 2px black inset;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
}

.nav-vertical {
  position: absolute;
  top: calc(12vh - 1px);
  left: 0;
  width: 40px;
  height: 88vh;
  box-shadow: 0px 0px 0px 2px black inset;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
}

.navbar h1 {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  font-size: 22px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-left: 40px;
  box-shadow: 0px 0px 0px 2px black inset;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: black;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  background-color: white;
  border: none;
}

.openbtn:hover {
  border: 2px solid black;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
