html, body {
  margin: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
canvas {
  display: block;
}

h1 {
  border: 4px solid black;
  background: white;
  color: black;
  padding: 2px 25px;
  font-size: 100px;
  font-family: "Abril Fatface";
  transition: 1s;
  margin-top: 20px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}
