h1 {
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  color: #585859;
}

.container{
    padding-top: 250px;
}

 /* Style all font awesome icons */
.fa {
    padding-right: 40px;
    padding-left: 3px;
    padding-top: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #1961B9;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.5;
}

.imageicon{
    width: 40px;
    margin-bottom:5px;
}
