/* importing fonts from Google Font API */
@import url('https://fonts.googleapis.com/css?family=Lato:300400,700');
@import url('https://fonts.googleapis.com/css?family=DM Serif Display');

html {
    background: white;
    min-width: 1280px;
    min-height: 720px;
    overflow: auto;  
    font-family: "Lato", sans-serif; 
    text-transform: none;
    font-weight: lighter;
    font-size: 10px;
    color: black;
    letter-spacing: 0.05em;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

* {
  box-sizing: border-box;
}

body {
    display: block;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background: radial-gradient(circle, rgba(38,64,115,1) 0%, rgba(0,0,0,1) 77%);
    
}
h1 {
    display: block;
    font-family: 'DM Serif Display';
    font-weight: lighter;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    color: white;
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 1.5em;
    font-family: 'DM Serif Display';
    font-weight: lighter;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    letter-spacing: normal;
    text-transform: none;
    color: white;
    text-align: left;
}

#intro {
    font-size: 1.5em;
    font-family: 'DM Serif Display';
    font-weight: lighter;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    letter-spacing: normal;
    text-transform: none;
    color: white;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    color: white;
    font-size: 1.3em;
}
keyword {
    color: MediumTurquoise;
    /*background: rgba(255, 165, 0, 0.53);*/
}

.keyword {
    color: MediumTurquoise;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    color: white;
    font-size: 1.3em;
}

p1 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    color: white;
    font-size: 1.3em;
}

p2 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    color: black;
    font-size: 1.3em;
}
p3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    color: white;
    font-size: 1.3em;
}

a:link {
  color: MediumTurquoise;;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: MediumTurquoise;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: lightpink;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: lightpink;
  background-color: transparent;
  text-decoration: underline;
}

.shadow {
  color: black;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */   
}

/* Modal Content */
.modal-content {
    position: absolute;
    width: 30%;
    height: 100%;
    padding-left: 1vw;
    padding-right: 0vw;
    background-color: #122139;
    /*box-shadow: 0px 0px 25px #000;*/
    background-clip: content-box;
    margin: auto;
    padding: 0;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: transparent;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: black;
    color: white;
}

div#div_visuals {
    background-clip: content-box;
    min-height: 400px;
    padding: 0px;
}
#startExploration{
    background-color: white; 
    border: none;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    display: block;
    font-size: 1.3em;
    text-align: center;
    border-radius: 6px;
}
#showHints {
    background-color: transparent; 
    border: none;
    color: white;
    padding: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    display: block;
    font-size: 1.3em;
    text-align: center;
    border-radius: 4px;
    font-size: 1.5em;
    font-family: 'DM Serif Display';
    font-weight: lighter;
}

#showMethods {
    background-color: transparent; 
    border: none;
    color: white;
    padding: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    display: block;
    font-size: 1.3em;
    text-align: center;
    border-radius: 4px;
    font-size: 1.5em;
    font-family: 'DM Serif Display';
    font-weight: lighter;
}

#showAbout {
    background-color: transparent; 
    border: none;
    color: white;
    padding: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    display: block;
    font-size: 1.3em;
    text-align: center;
    border-radius: 4px;
    font-size: 1.5em;
    font-family: 'DM Serif Display';
    font-weight: lighter;
}

/* Style the header */
.header {
    background-color: transparent;
    text-align: left; 
    width: 100%;
    height: 5vh;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 1%;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 1%;
    display: block;
    margin-top: 0px;
}

/* Left column */
.left {
    width: 30%;
    background-color: transparent;
    background-clip: content-box;
}

/* Middle column */
.middle {
    width: 40%;
    background-color: transparent;
    background-clip: content-box;
    height: 95vh;
}

/* Right column */
.right {
    width: 30%;
    background-color: transparent;
    background-clip:content-box;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
    height: 90%
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.button_persona {
    background-color: transparent; 
    border: none;
    color: white;
    padding: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    display: block;
    font-size: 1.3em;
    text-align: left;
    border-radius: 4px;
}

.svg_boxes {
    /*background: white;*/
    /*background-blend-mode: overlay;*/
    isolation: isolate;
    opacity:1.0;
    //display: block;
    min-width: 250px;
    min-height: 340px;
    box-sizing: border-box;
    margin-left: 150px;
}

.radarChart {
    /*background: white;*/
    opacity:1.0;
    min-height: 250px;
    box-sizing: border-box;
    margin: auto;
}

svg {
    transition: 2s;
}