:root {
  --main-opacity: 0.2;
  --secondary-opacity: 0.8;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #001c75 no-repeat center center;
    text-align: center;
}

#intro {
  display: flex;
  flex-direction: column-reverse;
  margin-left: 16%;
  margin-right: 16%;
}

#intro h1 {
  margin-top: 0;
  position: relative;
  bottom: 10px;
}

#flowerContainer {
  margin-top: 0px;
}

#petal-refusal {
	/*Assign animation - min 3 parameters*/
	animation-name: refusal;
	animation-duration: 3s;
  animation-timing-function: linear;
	animation-iteration-count: 1; /*How many times should be iterated */
	animation-direction: alternate; /* ruch wahadlowy*/
/* center the animation around center*/
  opacity: var(--main-opacity);
}

#refusal-text {
	/*Assign animation - min 3 parameters*/
	animation-name: refusal;
	animation-duration: 3s;
  animation-timing-function: linear;
	animation-iteration-count: 1; /*How many times should be iterated */
	animation-direction: alternate; /* ruch wahadlowy*/
  opacity: var(--main-opacity);
}

@keyframes refusal {
	20% {
		opacity: var(--secondary-opacity);
	}
  50% {
    opacity: 1;
  }
	100% {
    opacity: var(--main-opacity);
	}
}

#petal-acceptance {
	/*Assign animation - min 3 parameters*/
	animation-name: acceptance;
	animation-duration: 3s;
  animation-timing-function: linear;
	animation-iteration-count: 1; /*How many times should be iterated */
	animation-direction: alternate; /* ruch wahadlowy*/
	transform-origin: center; /* center the animation around center*/
  animation-delay: 2s;
  opacity: var(--main-opacity);
}

#acceptance-text{
	/*Assign animation - min 3 parameters*/
	animation-name: acceptance;
	animation-duration: 3s;
  animation-timing-function: linear;
	animation-iteration-count: 1; /*How many times should be iterated */
	animation-direction: alternate; /* ruch wahadlowy*/
	transform-origin: center; /* center the animation around center*/
  animation-delay: 2s;
  opacity: var(--main-opacity);
}

@keyframes acceptance {
	20% {
		opacity: var(--secondary-opacity);
	}
  50% {
    opacity: 1;
  }
	100% {
    opacity: var(--main-opacity);
	}
}

#petal-anger {
	/*Assign animation - min 3 parameters*/
	animation-name: anger;
	animation-duration: 3s;
  animation-timing-function: linear;
	animation-iteration-count: 1; /*How many times should be iterated */
	animation-direction: alternate; /* ruch wahadlowy*/
	 /* center the animation around center*/
  animation-delay: 4s;
  opacity: var(--main-opacity);
}

#anger-text {
	/*Assign animation - min 3 parameters*/
	animation-name: anger;
	animation-duration: 3s;
  animation-timing-function: linear;
	animation-iteration-count: 1; /*How many times should be iterated */
	animation-direction: alternate; /* ruch wahadlowy*/
	 /* center the animation around center*/
  animation-delay: 4s;
  opacity: var(--main-opacity);
}

@keyframes anger {
	20% {
		opacity: var(--secondary-opacity);
	}
  50% {
    opacity: 1;
  }
	100% {
    opacity: var(--main-opacity);
	}
}

#petal-death {
	/*Assign animation - min 3 parameters*/
	animation-name: death;
	animation-duration: 3s;
  animation-timing-function: linear;
	animation-iteration-count: 1; /*How many times should be iterated */
	animation-direction: alternate; /* ruch wahadlowy*/
	transform-origin: center; /* center the animation around center*/
  animation-delay: 6s;
  opacity: var(--main-opacity);
}

#death-text {
	/*Assign animation - min 3 parameters*/
	animation-name: death;
	animation-duration: 3s;
  animation-timing-function: linear;
	animation-iteration-count: 1; /*How many times should be iterated */
	animation-direction: alternate; /* ruch wahadlowy*/
	transform-origin: center; /* center the animation around center*/
  animation-delay: 6s;
  opacity: var(--main-opacity);
}

@keyframes death {
	20% {
		opacity: var(--secondary-opacity);
	}
  50% {
    opacity: 1;
  }
	100% {
    opacity: var(--main-opacity);
	}
}


#refusal-text, #anger-text, #acceptance-text, #death-text {
  fill: white;
}
