/* --- Button design --- */

.btn {
    font-size: 18px!important;
}

.btn-lg {
    padding: 6px 12px 6px 12px!important;
    text-align: left;
}

.btn-meta {
    color: white;
    background: black;
    border: 1.5px white solid!important;
    transition: 0.5s; /* add it to the main class */
}

.btn-meta:hover { /* sudo class*/
    opacity: 1;
    color: black;
    background: white;
    text-decoration: none;
}

.btn-city {
    min-width: 150px!important;
    color: black;
    font-weight: bold;
    background: white;
    border: 1.5px white solid;
    transition: 0.5s; /* add it to the main class */
}

.btn-city:hover { /* sudo class*/
    opacity: 1;
    color: white;
    background: black;
    border: 1.5px white solid!important;
}

.btn-story {
    min-width: 150px!important;
    color: black!important;
    font-weight: bold;
    background: white;
    border: 1.5px black solid;
    transition: 0.5s; /* add it to the main class */
    cursor: pointer;
    text-align: left;
    margin-left: auto!important;
}

.btn-story:hover { /* sudo class*/
    opacity: 1;
    color: white!important;
    background: black;
    border: 1.5px white solid!important;
    cursor: pointer;
}

.glyphicon {
    position: relative!important;
    top: 2px!important;
    display: inline-block!important;
    font-family: 'Glyphicons Halflings';
    line-height: 1;
}

#theme {
    color: white!important;
    background: black;
    border: 1.5px white solid!important;
    transition: 0.5s; /* add it to the main class */
    cursor: pointer;
    text-align: center;
}

#theme:hover {
    color: black!important;
    background: white;
    border: 1.5px white solid!important;
    transition: 0.5s; /* add it to the main class */
    cursor: pointer;
    text-align: center;
}




/*
.dropdown-toggle {
    color: black;
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: bold;
    background: white;
    border: 1.5px white solid!important;
    transition: 0.5s; /* add it to the main class */
}

/*
.dropdown-toggle:hover { /* sudo class*/
/*
  opacity: 1;
    color: white;
  background: black;
  text-decoration: none;
}
*/
/*
.start a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.start a:hover {
  opacity: .5;
}
*/
*/



/*
#section01 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
*/