/*
.dropdown-menu {
  box-shadow: none;
}
.dropdown-menu a {
  font-weight: lighter !important;
  color: #E6E6E6 !important;
}
*/



#section01 .dropdown-menu {
    min-width: 150px!important;
}

#section01 .dropdown-item {
    font-size: 18px!important;
    padding: 6px 0px 6px 12px!important;
    color: white;
    background-color: black;
    border: 0.5px white solid;
}


#section01 .dropdown-item:hover {
    color: black;
    background-color: white;
    cursor: pointer;
    border: 0.5px white solid;
}


#section02 .dropdown-item {
    font-size: 18px!important;
    padding: 6px 0px 6px 12px!important;
    color: white;
    background-color: black;
    border: 0.5px white solid;
}


#section02 .dropdown-item:hover {
    color: black;
    background-color: white;
    cursor: pointer;
    border: 0.5px white solid;
}

#section02 .dropdown-menu {
    min-width: 150px!important;
}

#section03 .dropdown{
    cursor: pointer;
}

#section03 .dropdown-item {
    min-width: 150px!important;
    font-size: 18px!important;
    padding: 6px 12px 6px 12px!important;
    color: white;
    background-color: black;
    border: 0.5px white solid;
    text-align: left;
}

#section03 .dropdown-item:hover {
    color: black;
    background-color: white;
    cursor: pointer;
    border: 0.5px white solid;
    text-align: left;
}

