/* --- Legend --- */
.map-overlay {
    padding-left: 2%!important;
    padding-right: 2%!important;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: black;
    opacity: 96%;
    overflow: auto;
    z-index: 99999!important;
}

#legend {
  height: 37x;
  width: 100%;
}
        
.legend_streetsages{
    height: 64.2px;
}

.legend-value {
   font-size: 16px;
    font-weight: normal;
    color: white;
    border-radius: 6px!important;
    padding: 2px 5px 2px 5px!important;
}  

.item {
    float: left;
    display: inline;
    padding-bottom: 4px!important;
    padding-right: 4px!important;
    background-color: none;
    cursor: pointer;
}

/* Hide the browser's default checkbox */
.item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.item input:not(:checked) ~ .legend-value {
    background-color: #000000!important;
    border: 1.5px white solid!important;
}

.item input:not(:checked) ~ .legend-value:hover {
    border: 1.5px white solid!important;
}

#slider {
    margin-top: 12px!important;
    margin-bottom: 12px!important;
}