/* --- Map pop-up --- */

/* --- Text content --- */
.mapboxgl-popup-content{
    width: 100%;
    background-color: black;
    opacity: 100%;
    border: 2px solid white;
    font-family: "Sarabun", "sans-serif"!important;
    padding: 12px 12px 12px 12px!important;
    
}

.mapboxgl-popup-content span {
    font-size:12px!important;
    text-align: center;
    position: relative!important;
    display:flex;
    top: -19px!important;
    justify-content: center;
    align-items: center;
    width: 80px!important;
    color: white;
    background: #484848!important;
    padding:0!important;
    border-radius: 6px!important;
    margin-left: auto!important;
    margin-right: auto!important;
}

.mapboxgl-popup-content img{
    display: block!important;
    margin-top: 2px!important;
    margin-left: auto!important;
    margin-right: auto!important;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;
    object-fit:cover;
}

.mapboxgl-popup-content div{
    display: block!important;
    margin-bottom: 16px!important;
    margin-left: auto!important;
    margin-right: auto!important;
    width: 120px;
    height: 120px;
}

.mapboxgl-popup-content a{
    color: white;
    font-size: 18px!important;
    font-weight: bold;
}

.mapboxgl-popup-content h3 {
    text-transform: capitalize;
    text-align:center; 
    font-size: 18px!important;
    font-weight: bold;
    padding-bottom: 3px!important;
}

.mapboxgl-popup-content p {
    font-size: 16px;
    color: lightgrey;
    text-align:center;
}

/* --- Pop-up tip and close --- */
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: white;
    opacity: 90%;
    }

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: white;
    opacity: 90%;
    }
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: white;
    opacity: 90%;
    }
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: white;
    opacity: 90%;
    }

.mapboxgl-popup-close-button {
    position: absolute;
    right: 7px;
    top: -2px;
    border: 0;
    border-radius: 0 3px 0 0;
    cursor: pointer;
    background-color: none;
    color: lightgray;
}