.navbar {
    z-index: 99!important;
    border-radius: 0px!important;
    background-color: black!important;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    padding-left: 2%!important;
    padding-right: 2%!important;
    min-height: 1px!important;
    border: 0px solid transparent!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.nav-link:hover {
    color: black!important;   
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}