/* --- Main stylesheet --- */
@import url("components/preloader.css");

/* --- Import fonts from Google Font API --- */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --main-color: #001c75;
  --secondary-color: white;
}

html {
  background: var(--main-color);
  background-color: var(--main-color);
  overflow: auto;
  margin-left: 16%;
  margin-right: 16%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: var(--secondary-color);
  letter-spacing: 0.1em;
}

body {
  padding: 10px;
  background: var(--main-color) !important;
  color: white !important;
}

/* --- Typography - text selection --- */
::-moz-selection {
  /* Code for Firefox */
  color: var(--main-color);
  background: var(--secondary-color);
}

::selection {
  color: var(--main-color);
  background: var(--secondary-color);
}

/* --- Typography - headers --- */
h1 {
  font-family: 'Domine', serif;
  font-weight: bold;
  font-size: 3em !important;
  color: white;
  letter-spacing: normal;
  margin-bottom: 0;
  padding-bottom: 0;
}

h2 {
  font-family: 'Domine', serif;
  font-size: 1.75em !important;
  letter-spacing: normal;
  margin-top: 10px;
}

h3 {
  font-family: 'Domine', serif;
  font-size: 1.25em !important;
  letter-spacing: normal;
}

/* --- Typography - colors for spans --- */
.refusal {
  color: rgba(135, 206, 250, 0.9);
  font-weight: bold;
}

.anger {
  color: rgba(255, 0, 0, 0.9);
  font-weight: bold;
}

.acceptance {
  color: rgba(0, 206, 209, 0.9);
  font-weight: bold;
}

.deaths {
  color: rgba(250, 250, 250, 0.9);
  font-weight: bold;
}

/* --- Typography - links in the text --- */
a {
  color: white;
}

a:visited {
  color: white;
}

/* --- Typography - the section with project credits --- */
.float-container {
  display: flex;
  gap: 8rem;
}

.float-child {
  width: 50%;
}

#publication p {
  margin-bottom: 0;
  margin-top: 0;
}

#info {
  padding-top: 4em;
}

/* --- Styling the external SVG with state borders --- */
path {
  stroke: white;
  stroke-width: 1;
  fill: none;
}

#states {
  opacity: 0;
}

/* --- Animation for switching between map and grid view --- */
.flower_group {
  transition: 1s;
}

svg {
  transition: 1s;
}

/* --- Button styling --- */
.buttonGroup {
  margin-top: 60px;
  height: 30px;
  font-weight: bold;
}

button {
  background: transparent;
  border: 2px solid white;
  height: 30px;
  padding: 0px 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.1em;
  transition: 0.5s;
}

button:hover {
  background: var(--secondary-color);
  cursor: pointer;
  color: var(--main-color);
}

button:focus {
  outline: 0;
}

#action {
  float: left;
  margin: 0;
  line-height: 30px;
}

#mapButton, #gridButton {
  float: right;
}

#mapButton {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

#gridButton {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

/* --- Custom scrollbar for the visualization --- */
::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFFFFF;
}

::-webkit-scrollbar-track {
  background: var(--main-color);
  border-radius: 10px;
  box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

/* --- Time slider track --- */
/* --- Generated from https://doodlenerd.com/html-control/css-input-range-generator --- */

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 28px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #001c75;
  border-radius: 50px;
  border: 2px solid #ffffff;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 2px solid #001c75;
  height: 22px;
  width: 22px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 1px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #001c75;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 28px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #001c75;
  border-radius: 50px;
  border: 2px solid #ffffff;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 2px solid #001c75;
  height: 22px;
  width: 22px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 28px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #001c75;
  border: 2px solid #ffffff;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #001c75;
  border: 2px solid #ffffff;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 2px solid #001c75;
  height: 22px;
  width: 22px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #001c75;
}
input[type=range]:focus::-ms-fill-upper {
  background: #001c75;
}

/* --- Single elements of the slider --- */
#date-helper {
  display: none;
}

#timeContainer p {
  margin: 0;
  bottom: 44px;
  position: relative;
}

#date {
  position: relative;
  bottom: 44px;
}

#gradient {
  position: relative;
  bottom: 28px;
}
