/* --- Background with flying particles for the preloader on the cover page --- */
/* --- Styling parameters based on Codepen by Nate Wiley https://codepen.io/natewiley/pen/Ciwyn --- */
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: black no-repeat center center;
}

.particle {
  position: absolute;
  border-radius: 50%;
  background-blend-mode: multiply;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(18vw, 90vh, 100px);
    transform: translate3d(18vw, 90vh, 100px);
  }
}

@keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(18vw, 90vh, 100px);
    transform: translate3d(18vw, 90vh, 100px);
  }
}

.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
  animation: particle-animation-1 60s infinite;
  opacity: 0.44;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
  -webkit-transform: translate3d(28vw, 40vh, 3px);
  transform: translate3d(28vw, 40vh, 13px);
  background: #9726d9;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(66vw, 39vh, 86px);
    transform: translate3d(66vw, 39vh, 86px);
  }
}

@keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(66vw, 39vh, 86px);
    transform: translate3d(66vw, 39vh, 86px);
  }
}

.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
  animation: particle-animation-2 60s infinite;
  opacity: 0.52;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
  -webkit-transform: translate3d(54vw, 68vh, 76px);
  transform: translate3d(54vw, 68vh, 76px);
  background: #26d9c7;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(89vw, 23vh, 21px);
    transform: translate3d(89vw, 23vh, 21px);
  }
}

@keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(89vw, 23vh, 21px);
    transform: translate3d(89vw, 23vh, 21px);
  }
}

.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
  animation: particle-animation-3 60s infinite;
  opacity: 0.68;
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
  -webkit-transform: translate3d(65vw, 46vh, 44px);
  transform: translate3d(65vw, 46vh, 44px);
  background: #26d959;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(28vw, 53vh, 42px);
    transform: translate3d(28vw, 53vh, 42px);
  }
}

@keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(28vw, 53vh, 42px);
    transform: translate3d(28vw, 53vh, 42px);
  }
}

.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
  animation: particle-animation-4 60s infinite;
  opacity: 0.74;
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  -webkit-transform: translate3d(16vw, 80vh, 69px);
  transform: translate3d(16vw, 80vh, 69px);
  background: #ffff00;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(19vw, 78vh, 9px);
    transform: translate3d(19vw, 78vh, 9px);
  }
}

@keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(19vw, 78vh, 9px);
    transform: translate3d(19vw, 78vh, 9px);
  }
}

.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
  animation: particle-animation-5 60s infinite;
  opacity: 0.87;
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  -webkit-transform: translate3d(65vw, 40vh, 35px);
  transform: translate3d(65vw, 40vh, 35px);
  background: yellow;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(7vw, 42vh, 21px);
    transform: translate3d(7vw, 42vh, 21px);
  }
}

@keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(7vw, 42vh, 21px);
    transform: translate3d(7vw, 42vh, 21px);
  }
}

.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
  animation: particle-animation-6 60s infinite;
  opacity: 0.44;
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
  -webkit-transform: translate3d(73vw, 57vh, 48px);
  transform: translate3d(73vw, 57vh, 48px);
  background: #d9268b;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(53vw, 72vh, 92px);
    transform: translate3d(53vw, 72vh, 92px);
  }
}

@keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(53vw, 72vh, 92px);
    transform: translate3d(53vw, 72vh, 92px);
  }
}

.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
  animation: particle-animation-7 60s infinite;
  opacity: 0.57;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -1.4s;
  animation-delay: -1.4s;
  -webkit-transform: translate3d(15vw, 44vh, 1px);
  transform: translate3d(15vw, 44vh, 1px);
  background: #26d941;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(71vw, 42vh, 35px);
    transform: translate3d(71vw, 42vh, 35px);
  }
}

@keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(71vw, 42vh, 35px);
    transform: translate3d(71vw, 42vh, 35px);
  }
}

.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
  animation: particle-animation-8 60s infinite;
  opacity: 0.69;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -1.6s;
  animation-delay: -1.6s;
  -webkit-transform: translate3d(4vw, 22vh, 67px);
  transform: translate3d(4vw, 22vh, 67px);
  background: #26d9ca;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(41vw, 20vh, 32px);
    transform: translate3d(41vw, 20vh, 32px);
  }
}

@keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(41vw, 20vh, 32px);
    transform: translate3d(41vw, 20vh, 32px);
  }
}

.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
  animation: particle-animation-9 60s infinite;
  opacity: 0.51;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -1.8s;
  animation-delay: -1.8s;
  -webkit-transform: translate3d(17vw, 66vh, 23px);
  transform: translate3d(17vw, 66vh, 23px);
  background: #d92659;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(37vw, 70vh, 83px);
    transform: translate3d(37vw, 70vh, 83px);
  }
}

@keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(37vw, 70vh, 83px);
    transform: translate3d(37vw, 70vh, 83px);
  }
}

.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
  animation: particle-animation-10 60s infinite;
  opacity: 0.47;
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  -webkit-transform: translate3d(52vw, 5vh, 67px);
  transform: translate3d(52vw, 5vh, 67px);
  background: #97d926;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(7vw, 2vh, 65px);
    transform: translate3d(7vw, 2vh, 65px);
  }
}

@keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(7vw, 2vh, 65px);
    transform: translate3d(7vw, 2vh, 65px);
  }
}

.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
  animation: particle-animation-11 60s infinite;
  opacity: 0.5;
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -2.2s;
  animation-delay: -2.2s;
  -webkit-transform: translate3d(50vw, 50vh, 23px);
  transform: translate3d(50vw, 50vh, 23px);
  background: #00b4ff;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(87vw, 88vh, 51px);
    transform: translate3d(87vw, 88vh, 51px);
  }
}

@keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(87vw, 88vh, 51px);
    transform: translate3d(87vw, 88vh, 51px);
  }
}

.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
  animation: particle-animation-12 60s infinite;
  opacity: 0.47;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
  -webkit-transform: translate3d(44vw, 52vh, 13px);
  transform: translate3d(44vw, 52vh, 13px);
  background: #d98526;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(23vw, 66vh, 84px);
    transform: translate3d(23vw, 66vh, 84px);
  }
}

@keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(23vw, 66vh, 84px);
    transform: translate3d(23vw, 66vh, 84px);
  }
}

.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
  animation: particle-animation-13 60s infinite;
  opacity: 0.4;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -2.6s;
  animation-delay: -2.6s;
  -webkit-transform: translate3d(4vw, 77vh, 14px);
  transform: translate3d(4vw, 77vh, 14px);
  background: #47d926;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(66vw, 29vh, 81px);
    transform: translate3d(66vw, 29vh, 81px);
  }
}

@keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(66vw, 29vh, 81px);
    transform: translate3d(66vw, 29vh, 81px);
  }
}

.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
  animation: particle-animation-14 60s infinite;
  opacity: 0.62;
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -2.8s;
  animation-delay: -2.8s;
  -webkit-transform: translate3d(52vw, 76vh, 69px);
  transform: translate3d(52vw, 76vh, 69px);
  background: #7d26d9;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(88vw, 77vh, 10px);
    transform: translate3d(88vw, 77vh, 10px);
  }
}

@keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(88vw, 77vh, 10px);
    transform: translate3d(88vw, 77vh, 10px);
  }
}

.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
  animation: particle-animation-15 60s infinite;
  opacity: 0.85;
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  -webkit-transform: translate3d(90vw, 61vh, 81px);
  transform: translate3d(90vw, 61vh, 81px);
  background: #d92638;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(54vw, 19vh, 21px);
    transform: translate3d(54vw, 19vh, 21px);
  }
}

@keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(54vw, 19vh, 21px);
    transform: translate3d(54vw, 19vh, 21px);
  }
}

.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
  animation: particle-animation-16 60s infinite;
  opacity: 0.56;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -3.2s;
  animation-delay: -3.2s;
  -webkit-transform: translate3d(51vw, 27vh, 64px);
  transform: translate3d(51vw, 27vh, 64px);
  background: #2665d9;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(71vw, 55vh, 25px);
    transform: translate3d(71vw, 55vh, 25px);
  }
}

@keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(71vw, 55vh, 25px);
    transform: translate3d(71vw, 55vh, 25px);
  }
}

.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
  animation: particle-animation-17 60s infinite;
  opacity: 0.57;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -3.4s;
  animation-delay: -3.4s;
  -webkit-transform: translate3d(50vw, 44vh, 38px);
  transform: translate3d(50vw, 44vh, 38px);
  background: #2650d9;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(63vw, 77vh, 68px);
    transform: translate3d(63vw, 77vh, 68px);
  }
}

@keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(63vw, 77vh, 68px);
    transform: translate3d(63vw, 77vh, 68px);
  }
}

.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
  animation: particle-animation-18 60s infinite;
  opacity: 0.71;
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
  -webkit-transform: translate3d(49vw, 28vh, 26px);
  transform: translate3d(49vw, 28vh, 26px);
  background: #ceff00;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(30vw, 62vh, 58px);
    transform: translate3d(30vw, 62vh, 58px);
  }
}

@keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(30vw, 62vh, 58px);
    transform: translate3d(30vw, 62vh, 58px);
  }
}

.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
  animation: particle-animation-19 60s infinite;
  opacity: 0.75;
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -3.8s;
  animation-delay: -3.8s;
  -webkit-transform: translate3d(47vw, 4vh, 49px);
  transform: translate3d(47vw, 4vh, 49px);
  background: #26b2d9;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(65vw, 20vh, 80px);
    transform: translate3d(65vw, 20vh, 80px);
  }
}

@keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(65vw, 20vh, 80px);
    transform: translate3d(65vw, 20vh, 80px);
  }
}

.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
  animation: particle-animation-20 60s infinite;
  opacity: 0.59;
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  -webkit-transform: translate3d(79vw, 28vh, 30px);
  transform: translate3d(79vw, 28vh, 30px);
  background: #26d9b2;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(79vw, 11vh, 14px);
    transform: translate3d(79vw, 11vh, 14px);
  }
}

@keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(79vw, 11vh, 14px);
    transform: translate3d(79vw, 11vh, 14px);
  }
}

.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
  animation: particle-animation-21 60s infinite;
  opacity: 0.37;
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -4.2s;
  animation-delay: -4.2s;
  -webkit-transform: translate3d(20vw, 59vh, 51px);
  transform: translate3d(20vw, 59vh, 51px);
  background: #26d941;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(50vw, 5vh, 69px);
    transform: translate3d(50vw, 5vh, 69px);
  }
}

@keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(50vw, 5vh, 69px);
    transform: translate3d(50vw, 5vh, 69px);
  }
}

.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
  animation: particle-animation-22 60s infinite;
  opacity: 0.75;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -4.4s;
  animation-delay: -4.4s;
  -webkit-transform: translate3d(41vw, 40vh, 38px);
  transform: translate3d(41vw, 40vh, 38px);
  background: #ffad00;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(81vw, 62vh, 75px);
    transform: translate3d(81vw, 62vh, 75px);
  }
}

@keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(81vw, 62vh, 75px);
    transform: translate3d(81vw, 62vh, 75px);
  }
}

.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
  animation: particle-animation-23 60s infinite;
  opacity: 0.75;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -4.6s;
  animation-delay: -4.6s;
  -webkit-transform: translate3d(16vw, 75vh, 30px);
  transform: translate3d(16vw, 75vh, 30px);
  background: #26d9b8;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(43vw, 81vh, 21px);
    transform: translate3d(43vw, 81vh, 21px);
  }
}

@keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(43vw, 81vh, 21px);
    transform: translate3d(43vw, 81vh, 21px);
  }
}

.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
  animation: particle-animation-24 60s infinite;
  opacity: 0.43;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
  -webkit-transform: translate3d(84vw, 25vh, 61px);
  transform: translate3d(84vw, 25vh, 61px);
  background: #d92650;
}

@-webkit-keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(72vw, 89vh, 9px);
    transform: translate3d(72vw, 89vh, 9px);
  }
}

@keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(72vw, 89vh, 9px);
    transform: translate3d(72vw, 89vh, 9px);
  }
}

.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
  animation: particle-animation-25 60s infinite;
  opacity: 0.32;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
  -webkit-transform: translate3d(66vw, 69vh, 2px);
  transform: translate3d(66vw, 69vh, 2px);
  background: #d9266b;
}

@-webkit-keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(76vw, 58vh, 9px);
    transform: translate3d(76vw, 58vh, 9px);
  }
}

@keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(76vw, 58vh, 9px);
    transform: translate3d(76vw, 58vh, 9px);
  }
}

.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
  animation: particle-animation-26 60s infinite;
  opacity: 0.29;
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -5.2s;
  animation-delay: -5.2s;
  -webkit-transform: translate3d(60vw, 23vh, 72px);
  transform: translate3d(60vw, 23vh, 72px);
  background: #2680d9;
}

@-webkit-keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(49vw, 13vh, 65px);
    transform: translate3d(49vw, 13vh, 65px);
  }
}

@keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(49vw, 13vh, 65px);
    transform: translate3d(49vw, 13vh, 65px);
  }
}

.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
  animation: particle-animation-27 60s infinite;
  opacity: 0.7;
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -5.4s;
  animation-delay: -5.4s;
  -webkit-transform: translate3d(5vw, 64vh, 84px);
  transform: translate3d(5vw, 64vh, 84px);
  background: #d92656;
}

@-webkit-keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(51vw, 39vh, 29px);
    transform: translate3d(51vw, 39vh, 29px);
  }
}

@keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(51vw, 39vh, 29px);
    transform: translate3d(51vw, 39vh, 29px);
  }
}

.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
  animation: particle-animation-28 60s infinite;
  opacity: 0.48;
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -5.6s;
  animation-delay: -5.6s;
  -webkit-transform: translate3d(6vw, 63vh, 31px);
  transform: translate3d(6vw, 63vh, 31px);
  background: #6526d9;
}

@-webkit-keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(41vw, 35vh, 46px);
    transform: translate3d(41vw, 35vh, 46px);
  }
}

@keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(41vw, 35vh, 46px);
    transform: translate3d(41vw, 35vh, 46px);
  }
}

.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
  animation: particle-animation-29 60s infinite;
  opacity: 0.44;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -5.8s;
  animation-delay: -5.8s;
  -webkit-transform: translate3d(79vw, 11vh, 6px);
  transform: translate3d(79vw, 11vh, 6px);
  background: #d9266e;
}

@-webkit-keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(71vw, 14vh, 31px);
    transform: translate3d(71vw, 14vh, 31px);
  }
}

@keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(71vw, 14vh, 31px);
    transform: translate3d(71vw, 14vh, 31px);
  }
}

.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
  animation: particle-animation-30 60s infinite;
  opacity: 0.65;
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
  -webkit-transform: translate3d(70vw, 35vh, 56px);
  transform: translate3d(70vw, 35vh, 56px);
  background: #26a0d9;
}

@-webkit-keyframes particle-animation-31 {
  100% {
    -webkit-transform: translate3d(85vw, 62vh, 46px);
    transform: translate3d(85vw, 62vh, 46px);
  }
}

@keyframes particle-animation-31 {
  100% {
    -webkit-transform: translate3d(85vw, 62vh, 46px);
    transform: translate3d(85vw, 62vh, 46px);
  }
}

.particle:nth-child(31) {
  -webkit-animation: particle-animation-31 60s infinite;
  animation: particle-animation-31 60s infinite;
  opacity: 0.72;
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -6.2s;
  animation-delay: -6.2s;
  -webkit-transform: translate3d(45vw, 13vh, 27px);
  transform: translate3d(45vw, 13vh, 27px);
  background: #d9b226;
}

@-webkit-keyframes particle-animation-32 {
  100% {
    -webkit-transform: translate3d(79vw, 57vh, 22px);
    transform: translate3d(79vw, 57vh, 22px);
  }
}

@keyframes particle-animation-32 {
  100% {
    -webkit-transform: translate3d(79vw, 57vh, 22px);
    transform: translate3d(79vw, 57vh, 22px);
  }
}

.particle:nth-child(32) {
  -webkit-animation: particle-animation-32 60s infinite;
  animation: particle-animation-32 60s infinite;
  opacity: 0.73;
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -6.4s;
  animation-delay: -6.4s;
  -webkit-transform: translate3d(55vw, 59vh, 34px);
  transform: translate3d(55vw, 59vh, 34px);
  background: #68d926;
}

@-webkit-keyframes particle-animation-33 {
  100% {
    -webkit-transform: translate3d(22vw, 88vh, 22px);
    transform: translate3d(22vw, 88vh, 22px);
  }
}

@keyframes particle-animation-33 {
  100% {
    -webkit-transform: translate3d(22vw, 88vh, 22px);
    transform: translate3d(22vw, 88vh, 22px);
  }
}

.particle:nth-child(33) {
  -webkit-animation: particle-animation-33 60s infinite;
  animation: particle-animation-33 60s infinite;
  opacity: 0.79;
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -6.6s;
  animation-delay: -6.6s;
  -webkit-transform: translate3d(38vw, 8vh, 80px);
  transform: translate3d(38vw, 8vh, 80px);
  background: #2cd926;
}

@-webkit-keyframes particle-animation-34 {
  100% {
    -webkit-transform: translate3d(40vw, 84vh, 20px);
    transform: translate3d(40vw, 84vh, 20px);
  }
}

@keyframes particle-animation-34 {
  100% {
    -webkit-transform: translate3d(40vw, 84vh, 20px);
    transform: translate3d(40vw, 84vh, 20px);
  }
}

.particle:nth-child(34) {
  -webkit-animation: particle-animation-34 60s infinite;
  animation: particle-animation-34 60s infinite;
  opacity: 0.94;
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -6.8s;
  animation-delay: -6.8s;
  -webkit-transform: translate3d(23vw, 75vh, 45px);
  transform: translate3d(23vw, 75vh, 45px);
  background: #26d985;
}

@-webkit-keyframes particle-animation-35 {
  100% {
    -webkit-transform: translate3d(19vw, 50vh, 51px);
    transform: translate3d(19vw, 50vh, 51px);
  }
}

@keyframes particle-animation-35 {
  100% {
    -webkit-transform: translate3d(19vw, 50vh, 51px);
    transform: translate3d(19vw, 50vh, 51px);
  }
}

.particle:nth-child(35) {
  -webkit-animation: particle-animation-35 60s infinite;
  animation: particle-animation-35 60s infinite;
  opacity: 0.94;
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -7s;
  animation-delay: -7s;
  -webkit-transform: translate3d(38vw, 30vh, 87px);
  transform: translate3d(38vw, 30vh, 87px);
  background: #d026d9;
}

@-webkit-keyframes particle-animation-36 {
  100% {
    -webkit-transform: translate3d(19vw, 89vh, 90px);
    transform: translate3d(19vw, 89vh, 90px);
  }
}

@keyframes particle-animation-36 {
  100% {
    -webkit-transform: translate3d(19vw, 89vh, 90px);
    transform: translate3d(19vw, 89vh, 90px);
  }
}

.particle:nth-child(36) {
  -webkit-animation: particle-animation-36 60s infinite;
  animation: particle-animation-36 60s infinite;
  opacity: 1;
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -7.2s;
  animation-delay: -7.2s;
  -webkit-transform: translate3d(28vw, 84vh, 52px);
  transform: translate3d(28vw, 84vh, 52px);
  background: #d926a3;
}

@-webkit-keyframes particle-animation-37 {
  100% {
    -webkit-transform: translate3d(34vw, 4vh, 81px);
    transform: translate3d(34vw, 4vh, 81px);
  }
}

@keyframes particle-animation-37 {
  100% {
    -webkit-transform: translate3d(34vw, 4vh, 81px);
    transform: translate3d(34vw, 4vh, 81px);
  }
}

.particle:nth-child(37) {
  -webkit-animation: particle-animation-37 60s infinite;
  animation: particle-animation-37 60s infinite;
  opacity: 0.71;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -7.4s;
  animation-delay: -7.4s;
  -webkit-transform: translate3d(41vw, 70vh, 45px);
  transform: translate3d(41vw, 70vh, 45px);
  background: #91d926;
}

@-webkit-keyframes particle-animation-38 {
  100% {
    -webkit-transform: translate3d(14vw, 27vh, 68px);
    transform: translate3d(14vw, 27vh, 68px);
  }
}

@keyframes particle-animation-38 {
  100% {
    -webkit-transform: translate3d(14vw, 27vh, 68px);
    transform: translate3d(14vw, 27vh, 68px);
  }
}

.particle:nth-child(38) {
  -webkit-animation: particle-animation-38 60s infinite;
  animation: particle-animation-38 60s infinite;
  opacity: 0.83;
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -7.6s;
  animation-delay: -7.6s;
  -webkit-transform: translate3d(70vw, 88vh, 54px);
  transform: translate3d(70vw, 88vh, 54px);
  background: #d92697;
}

@-webkit-keyframes particle-animation-39 {
  100% {
    -webkit-transform: translate3d(17vw, 60vh, 39px);
    transform: translate3d(17vw, 60vh, 39px);
  }
}

@keyframes particle-animation-39 {
  100% {
    -webkit-transform: translate3d(17vw, 60vh, 39px);
    transform: translate3d(17vw, 60vh, 39px);
  }
}

.particle:nth-child(39) {
  -webkit-animation: particle-animation-39 60s infinite;
  animation: particle-animation-39 60s infinite;
  opacity: 0.82;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -7.8s;
  animation-delay: -7.8s;
  -webkit-transform: translate3d(26vw, 42vh, 54px);
  transform: translate3d(26vw, 42vh, 54px);
  background: orange;
}

@-webkit-keyframes particle-animation-40 {
  100% {
    -webkit-transform: translate3d(49vw, 6vh, 7px);
    transform: translate3d(49vw, 6vh, 7px);
  }
}

@keyframes particle-animation-40 {
  100% {
    -webkit-transform: translate3d(49vw, 6vh, 7px);
    transform: translate3d(49vw, 6vh, 7px);
  }
}

.particle:nth-child(40) {
  -webkit-animation: particle-animation-40 60s infinite;
  animation: particle-animation-40 60s infinite;
  opacity: 0.4;
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
  -webkit-transform: translate3d(18vw, 88vh, 9px);
  transform: translate3d(18vw, 88vh, 9px);
  background: #d92688;
}
