/* --- Dropdown --- */
:root {
  --dropdown-font-size: 18px !important;
  --main-dropdown-color: black;
  --secondary-dropdown-color: white;
  --dropdown-minimum-width: 150px !important;
  --dropdown-padding: 9px 0px 9px 12px;
  --dropdown-border-width: 0.5px;
  --dropdown-border-type: solid !important;
  --dropdown-text-align: left;
  --dropdown-cursor: pointer;
  --dropdown-transition: 0.5s;
}

#section01 .dropdown-menu {
  min-width: var(--dropdown-minimum-width);
}

#section01 .dropdown-item {
  font-size: var(--dropdown-font-size);
  padding: var(--dropdown-padding) !important;
  color: var(--secondary-dropdown-color);
  background-color: var(--main-dropdown-color);
  border: var(--dropdown-border-width) var(--secondary-dropdown-color) var(--dropdown-border-type);
  transition: var(--dropdown-transition);
}

#section01 .dropdown-item:hover {
  color: var(--main-dropdown-color);
  background-color: var(--secondary-dropdown-color);
  cursor: var(--dropdown-cursor);
  border: var(--dropdown-border-width) var(--secondary-dropdown-color) var(--dropdown-border-type);
}

#section02 .dropdown-item {
  font-size: var(--dropdown-font-size);
  padding: var(--dropdown-padding) !important;
  color: var(--secondary-dropdown-color);
  background-color: var(--main-dropdown-color);
  border: var(--dropdown-border-width) var(--secondary-dropdown-color) var(--dropdown-border-type);
  transition: var(--dropdown-transition);
}

#section02 .dropdown-item:hover {
  color: var(--main-dropdown-color);
  background-color: var(--secondary-dropdown-color);
  cursor: var(--dropdown-cursor);
  border: var(--dropdown-border-width) var(--secondary-dropdown-color) var(--dropdown-border-type);
}

#section02 .dropdown-menu {
  min-width: var(--dropdown-minimum-width);
}

#section03 .dropdown {
  cursor: var(--dropdown-cursor);
}

#section03 .dropdown-item {
  min-width: var(--dropdown-minimum-width);
  font-size: var(--dropdown-font-size);
  padding: 4.2px 0px 4.2px 12px!important;
  color: var(--secondary-dropdown-color);
  background-color: var(--main-dropdown-color);
  border: var(--dropdown-border-width) var(--secondary-dropdown-color) var(--dropdown-border-type);
  text-align: var(--dropdown-text-align);
  transition: var(--dropdown-transition);
}

#section03 .dropdown-item:hover {
  color: var(--main-dropdown-color);
  background-color: var(--secondary-dropdown-color);
  cursor: var(--dropdown-cursor);
  border: var(--dropdown-border-width) var(--secondary-dropdown-color) var(--dropdown-border-type);
  text-align: var(--dropdown-text-align);
}
