/* --- Legend --- */
:root {
  --main-legend-color: black;
  --secondary-legend-color: white;
  --legend-transition: 0.3s;
  --legend-border-width: 1.5px;
}

*:focus {
  outline: none;
}

/* --- General legend parameters for each layer --- */
#legend {
  height: 37x;
  width: 100%;
}

.map-overlay {
  padding-left: 2% !important;
  padding-right: 2% !important;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--main-legend-color);
  opacity: 95%;
  overflow: auto;
  z-index: 99999 !important;
}

.legend_streetsages {
  height: 64.2px;
}

/* --- Parameters for clickable symbols in the legends --- */
label {
  font-weight: normal;
}

.legend-value {
  font-size: 16px;
  font-weight: normal;
  color: var(--secondary-legend-color);
  border-radius: 6px !important;
  padding: 2px 5px 2px 5px !important;
  margin-bottom: 4px !important;
  margin-right: 4px !important;
}

.item {
  float: left;
  display: none;
  background-color: none !important;
  cursor: pointer;
}

/* Hide the browser's default checkbox */
.item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.item input:not(:checked)~.legend-value {
  background-color: #000000 !important;
  border: var(--legend-border-width) var(--secondary-legend-color) solid !important;
  transition: var(--legend-transition) !important;
}

.item input:checked~.legend-value:hover {
  border: var(--legend-border-width) var(--secondary-legend-color) solid !important;
  transition: var(--legend-transition) !important;
}
