/* --- Map container --- */
#map {
    position: absolute;
    top: 50px;
    bottom: 59px;
    width: 98%;
    padding-left: 2%!important;
    padding-right: 2%!important;
    outline: none!important;
}

.mapboxgl-map {
    outline: none!important;
    overflow: hidden;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: left;
}

#fly {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #ee8a65;
}
