/* --- Settings for the visualization sections - cover page, methodology, map container, publications and data --- */
/* --- Styling parameters based on Codepen by Naoya/Nxworld https://codepen.io/nxworld/pen/OyRrGy) --- */

:root {
  --section-font-size: 18px;
}

section {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
}

/* --- Background colors --- */
#section01 {
  background-color: black;
}

#section02 {
  background-color: black;
}

#section03 {
  background-color: black;
}

#section04 {
  background-color: black;
}

/* --- Headers --- */
section h1 {
  padding-left: 2% !important;
  padding-right: 2% !important;
  padding-top: 18px !important;
  padding-bottom: 18px !important;
  font-size: 24px !important;
  z-index: 999;
}

section h2 {
  padding-left: 2% !important;
  padding-right: 2% !important;
  font-size: var(--section-font-size);
}

section h4 {
  color: white;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  font-size: var(--section-font-size) !important;
}

/* --- Section-specific headers --- */
#section01 h3 {
  color: #6d6d6d !important;
  padding-top: 4% !important;
  padding-left: 2% !important;
  padding-right: 2% !important;
  font-size: var(--section-font-size);
}

#section01 h3 a {
  color: #6d6d6d !important;
}

#section03 h2 {
  padding-left: 12px !important;
  font-size: var(--section-font-size);
}
