:root {
  --main-stroke-width: 2px;
  --main-card-width: 120px;
  --main-card-height: 160px;
}

/* Wrapper for each city - city name + DNA gradient */
.wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

/* Container for the city name */
.city-name {
  width: 40px;
  margin-right: 58px;
}

.city-name p {
  margin-top: 10px;
}

/* Gradient scale description */
.text-low {
  font-size: 12px;
  position: absolute;
  top: 12px;
  left: 6px;
  color: white;
}

.text-high {
  font-size: 12px;
  position: absolute;
  top: 12px;
  right: 6px;
  color: white;
}

/* Container for the DNA gradient */
.container {
  display: inline-flex;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  filter: saturate(2.5);
  cursor: pointer;
  position: relative;
}

/* Container for the DNA section */
.section {
  /*border: solid black;
  border-width: 0;*/
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

/* Highlighting the section container upon mouseover */
.section:hover {
  /*transform: scaleY(1.25);*/
  /*border-width: thick!important;*/
  box-shadow: inset 0px 0px 0px var(--main-stroke-width) black;
  box-sizing: border-box;
}

/* Highlighting the section container upon click */
.category-selected {
  box-shadow: inset 0px 0px 0px var(--main-stroke-width) black;
  box-sizing: border-box;
}

/* Tooltip with additional information -
displayed once the user hover over the DNA section */
div.tooltip {
  position: absolute;
  text-align: center;
  padding-bottom: 156px;
  font-size: 14px !important;
  margin-top: 0;
  background: white;
  border: 1px solid grey;
  border-radius: 1px;
  pointer-events: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
  height: 160px;
  width: 122px;

}

.tooltip img {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  filter: saturate(1.5);
  background-color: rgb(220,220,220);
}

.story {

  transform: translateY(-50%);
}

/* Labels with land cover categories */
#label-container {
  /*border: 1px solid grey;*/
  margin-bottom: 24px;
  padding-top: 6px;
}

input {
  display: none;
  width: 0;
  height: 0;
}

.label {
  display: inline-block;
  margin-bottom: 12px;
  margin-top: 6px;
  margin-right: 6px;
}

span {
  border: 1px solid;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 24px;
  transition: 0.5s;
}

span:hover {
  cursor: pointer;
  background-color: black;
  border-color: black;
  color: white;
}

/* Specific colors for each land cover category */
/*
#label-farmland input[type=checkbox]:checked+span {
  background-color: #f5f5cb;
  border-color: black;
}
*/
input[type=checkbox]:checked+span {
  background-color: black;
  border-color: black;
  color: white;
}

/* Gradient definitions */
#container-florence {
  background: linear-gradient(90deg,
      rgb(10, 27, 8) 0%, 5.87393%,
      rgb(65, 141, 77) 11.7479%, 16.8736%,
      rgb(109, 162, 118) 21.7049%, 25.5731%,
      rgb(140, 214, 163) 29.4413%, 33.2736%,
      rgb(239, 243, 220) 37.106%, 40.9384%,
      rgb(253, 254, 255) 44.7708%, 49.0688%,
      rgb(255, 255, 255) 53.3668%, 57.808%,
      rgb(197, 196, 204) 62.2493%, 64.7923%,
      rgb(150, 153, 162) 67.3352%, 70.4513%,
      rgb(149 144 169) 73.5673%, 77.8158%,
      rgb(245, 198, 188) 81.1605%, 83.596%,
      rgb(217, 167, 158) 86.0315%, 89.0401%,
      rgb(216, 125, 120) 92.0487%, 95.2364%,
      rgb(80, 35, 30) 98.4241%, 99.212%,
      rgb(42, 14, 11) 100%);
}

#container-torino {
  background-color: red;
  /* For browsers that do not support gradients */
  background-image:
    linear-gradient(to right,
      rgb(9, 23, 6),
      rgb(22, 44, 21),
      rgb(37, 63, 36),
      rgb(48, 88, 53),
      rgb(67, 116, 71), 12%,
      rgb(110, 136, 111),
      rgb(79, 101, 80),
      rgb(54, 71, 55),
      rgb(26, 42, 32),
      rgb(53, 62, 61),
      rgb(103, 113, 114),
      rgb(145, 156, 160),
      rgb(188, 203, 210),
      rgb(239, 247, 249),
      rgb(172, 185, 217), 78%,
      rgb(128, 142, 169),
      rgb(91, 102, 120), 83%,
      rgb(99, 81, 77),
      rgb(141, 116, 111),
      rgb(184, 156, 145),
      rgb(196, 162, 154), 96%,
      rgb(132, 82, 71),
      rgb(85, 53, 42));
}

#container-palermo {
  background-color: red;
  /* For browsers that do not support gradients */
  background-image:
    linear-gradient(to right,
      rgb(75, 91, 54),
      rgb(111, 125, 72),
      rgb(135, 150, 93),
      rgb(155, 170, 115),
      rgb(103, 147, 70) 9%,
      rgb(87, 118, 48),
      rgb(68, 97, 30),
      rgb(47, 74, 23),
      rgb(85, 104, 82) 18%,
      rgb(135, 146, 114),
      rgb(166, 178, 140),
      rgb(193, 207, 171),
      rgb(182, 191, 174),
      rgb(213, 217, 200),
      rgb(248, 250, 249) 50%,
      rgb(216, 220, 223),
      rgb(181, 186, 192),
      rgb(140, 154, 155));
}

#container-bologna {
  background-image:
    linear-gradient(90deg,
      rgb(116, 114, 99) 0%, 3.28084%,
      rgb(237, 229, 208) 7.67717%, 12%,
      rgb(241, 246, 249) 14.5669%, 17.9134%,
      rgb(189, 196, 206) 21.2598%, 23.9829%,
      rgb(117, 132, 122) 26.706%, 29.8228%,
      rgb(97, 124, 89) 32.9396%, 37.6969%,
      rgb(129, 151, 115) 42.4541%, 44.857%,
      rgb(126, 132, 160) 49.0157%, 53.3143%,
      rgb(156, 139, 176) 56.5617%, 61.6999%,
      rgb(176, 159, 191) 63.9764%, 67.4892%,
      rgb(182, 140, 144) 71.6535%, 75.241%,
      rgb(221, 177, 178) 79.9213%, 82.9773%,
      rgb(227, 128, 122) 86.3517%, 91.0426%,
      rgb(155, 95, 94) 94.2257%, 97.1129%,
      rgb(64, 37, 30) 100%);
}

#container-milan {
  background-image:
    linear-gradient(90deg,
      /* Cluster 1 */
      rgb(26, 47, 23) 0%, 2.15801%,
      rgb(77, 121, 80) 7.43802%, 11%,
      /* Cluster 2 */
      rgb(191, 222, 195) 16.7025%, 19.6576%,
      rgb(131, 154, 133) 22.6128%, 26.2763%,
      rgb(123, 135, 130) 28.9398%, 33%,
      /* Cluster 3 */
      rgb(124, 135, 140) 38.4404%, 45.2184%,
      rgb(171, 186, 195) 48.9965%, 53.6009%,
      rgb(228, 243, 246) 58.2054%, 68%,
      /* Cluster 4 */
      rgb(234, 216, 205) 72%, 78.1889%,
      rgb(183, 159, 151) 80.144%, 86%,
      /* Cluster 5 */
      rgb(115, 105, 125) 90%, 96%,
      /* Cluster 6 */
      rgb(176, 115, 100) 98%,
      rgb(71, 42, 32) 100%);
}

#container-rome {
  background: linear-gradient(90deg,
      /* Cluster 1 */
      rgb(11, 34, 5) 0%, 6%,
      rgb(78, 106, 70) 12.45714%, 20.77143%,
      /* Cluster 2 */
      rgb(61, 114, 63) 22.0857%, 26.0571%,
      /* Cluster 3 */
      rgb(104, 119, 99) 34.1429%, 38.8571%,
      rgb(142, 154, 137) 42.5714%, 46.8286%,
      rgb(146, 160, 144) 48.0857%, 52%,
      /* Cluster 4 */
      rgb(245, 250, 246) 54.3429%, 56.7143%,
      rgb(219, 223, 220) 59%,
      rgb(142, 149, 149) 65.8857%, 70.8%,
      rgb(124, 131, 135) 77.7143%, 90.0286%,
      /* Cluster 5 */


      rgb(191, 169, 147) 95.3429%, 97.7855%,
      rgb(224, 196, 175) 100%);
}


button {
  background: white;
  border: 1px solid;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 24px;
  transition: 0.5s;
  cursor: pointer;
  color: black;
  font-size: 16px;
}

button:hover {
    background: black;
    color: white;
}
