* {
  box-sizing: border-box;
}

html,
body {
  /*margin-left: 12%;
  margin-right: 12%;*/
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 20px;
}

/* Each paragraph of a story */
section {
  margin-top: 120px;
  margin-bottom: 120px;
}

/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

h1, h2 {
  font-family: 'Domine', serif;
  font-weight: bold;
}

h1 {
  font-size: 3.75rem;
  margin-top: 0;
  margin-bottom: 80px;
}


/* Link to paper*/
a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.paper:hover {
  background-color: transparent;
  box-shadow: 0 -7px 0 silver inset;
  -webkit-box-shadow: 0 -7px 0 silver inset;
}

/* Text selector */
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-thumb {
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

/* Map controllers */
/* Grouping the buttons in navigation bar */
.flex {
  display: flex;
  align-items: center;
}

.push {
  margin-left: auto;
}

/* Dropdown for map container with city selectors */
.dropbtn {
  background-color: white;
  color: black;
  padding: 6px 16px;
  font-size: 16px;
  border: 1px solid black;
  cursor: pointer;
  min-width: 140px;
  text-align: left;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: black;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 140px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  background: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  min-width: 140px;
  text-align: left;
}

.dropdown button:hover {
  background-color: black;
  color: white;
}

.show {
  display: block;
}

/* Container to display map title */
#mapTitle {
  font-weight: bold;
  font-size: 16px;
  border: 1px solid black;
  padding-left: 20px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  background: black;
  color: white;
}

/* Sorting  buttons */
.sort-btn {
  border: 1px solid black;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  transition: 0.5s;
  background: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.sort-btn:hover {
  color: white;
  background: black;
}

/* Sort by location */
#sortID {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

/* Sort by color (hue) */
#sortColor {
  /*border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;*/
}

/* Twitter share button */
#twitter {
  border-radius: 24px;
  border: 1px solid black;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  transition: 0.5s;
  background: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

#twitter:hover {
  color: white;
  background: black;
}


/* Swatches section */
/* Table for swatches */
td {
  width: calc(100% / 7);
  height: 120px;
  border: 2px solid black;
  transition: 0.5s;
}

td:hover {
  background: red;
}

.swatches-container {
  grid-auto-rows: var(--main-card-height);
  grid-template-columns: repeat(auto-fill, var(--main-card-width));
  grid-gap: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.swatch-row {
  display: flex;
  flex-direction: row;
  grid-gap: 8px;
  margin-bottom: 16px;
}

.swatch {
  border: 1px solid lightgrey;
  width: var(--main-card-width);
  height: var(--main-card-height);
  font-size: 16px;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px #00000029;
  display: flex;
  flex-direction: column;
  background-blend-mode: luminosity;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  cursor: pointer;
  filter: saturate(1.5);
}

.swatch-category {
  width: 40px;
  margin-right: 50px;
  margin-top: 60px;
}

.caption {
  margin-top: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  background: white;
  text-align: center;
  font-size: 16px;
}

#pointContainer {
  margin-left: 24%;
  margin-right: 24%;
  background: black;
  filter: saturate(2.5) brightness(1) contrast(1.5);
}
