#intro {
  background-image: url(style/header.png);
  background-size: cover;
  margin: 0;
  text-align: center;
  padding-top: 220px;
  padding-bottom: 220px;
  height: 600px;
  filter: saturate(1.5);
}

#header {
  background: white;
  margin-left: 11%;
  margin-right: 11%;
  padding-top: 70px;
  padding-bottom: 40px;
  position: relative;
  top: 100px;
}

#header p {
  font-size: 1.25em;
}

#outro {
  background-image: url(style/header.png);
  background-size: cover;
  margin: 0;
  text-align: center;
  /* padding-top: 220px; */
  padding-bottom: 220px;
  /* height: 600px; */
  filter: saturate(1.5);
  height: 600px;
}

#leaver {
  background: white;
  margin-left: 11%;
  margin-right: 11%;
  padding-bottom: 80px;
  /*padding-top: 70px;
  padding-bottom: 40px;
  position: relative;
  top: 100px;*/
}

.text-section {
  margin-left: 24%;
  margin-right: 24%;
}

/* COPIED FROM HTML*/
#scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  /*padding: 1rem;*/
}

#scrolly>* {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

article {
  position: relative;
  /*padding: 0 1rem;*/
  padding-right: 1rem;
  max-width: 20rem;
}

figure {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: rgb(230,230,230);
  z-index: 0;
  background-position: center center;
  background-size: cover;
  filter: saturate(1.5);
}

/* Scroll steps */
.step {
  margin: 0 auto 2rem auto;
  background-color: white;
  color: black;
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active {
  background-color: white;
  color: black;
}

.step p {
  text-align: left;
  padding: 0;
  /*font-size: 1.5rem;*/
}

mark {
  background-color: transparent;
}

.mark-greenery {
  box-shadow: 0 -7px 0 #9ac693 inset;
  -webkit-box-shadow: 0 -7px 0 #9ac693 inset;
}

.mark-industrial {
  box-shadow: 0 -7px 0 #b1c0cc inset;
  -webkit-box-shadow: 0 -7px 0 #b1c0cc inset;
}

.mark-rooftops {
  box-shadow: 0 -7px 0 #df8686 inset;
  -webkit-box-shadow: 0 -7px 0 #df8686 inset;
}


#dataviz_delay {
  filter: saturate(1.5);
  cursor: pointer;
}

#animationText {
  margin-right: 20px;
}
